/*Global*/
*{
    border: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0 100px;
}
h3{
    text-align: center;
    font-size: 24px;
    margin: 40px 0;
}
/*Header*/

header .nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 600;
    cursor: pointer;
}
.nav li:hover{
    color: #5d3bef;
}

/*Main*/

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.main--text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main--text h1{
    font-size: 60px;
    font-weight: 600;
    width: 80%;
}
.main--text p{
    width: 60%;
}
.main--text__icons{
    display: flex;
}
.main--text__icons div{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8e7bef;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}
.main--text__icons div img{
    width: 24px;
}
.main--text__btn{
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5d3bef;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.main--text__btn img{
    width: 24px;
    margin-right: 15px;
}

/*About*/

.about{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.about p{
    color: gray;
    margin: 0 auto;
    width: 70%;
}

/*habilities*/
.habilities--card__container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.habilities--card{
    width: 250px;
    background-color: #f9f6ff;
    padding: 20px 10px 50px 10px;
}
.habilities--card p{
    color: gray;
}
.habilities--card__header{
    display: flex;
    margin-bottom: 20px;
}
.habilities--card__header img{
    margin-right: 10px;
}

/*Experience*/

.experience--container{
    display: flex;
    justify-content: space-between;
}
.experience--card, .experience--card__left{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}
.experience--card{
    width: 30%;
}
.experience--card img{
    width: 40px;
    margin-right: 10px;
}
.experience--card__text p{
    color: gray;
    font-size: 12px;
}
.experience--card__text h4{
    font-size: 16px;
}
/*Portfolio*/
.portfolio--container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

/*Contact*/
.contact--container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    text-align: center;
}
.contact--card p{
    font-size: 14px;
    color: gray;
}
.contact--card h5{
    margin: 20px 0;
}
.contact--card__img--container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #f9f5f2;
    border-radius: 25%;
    display: flex;
    justify-content: center;
}
.contact--card__img--container img{
    width: 50px;
}

/*Footer*/
footer{
    text-align: center;
    margin-bottom: 20px;
    color: #8e7bef;
}